.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardcomponents{
  display: flex;
}

.cardlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px;
}
.card img{
  width: 70%;
  height: auto;
}
.text-content{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  
}
.crew{
  display: flex;
  width: 40%;
}
.text-content span {
  text-align: left;
  width: 450px;
  margin-left: 20px;
}
.card p{
  transform: rotate(90deg);
  text-align: left;
}
.img-content{
  display: flex;
  align-items: flex-start;
}
.cardlist .card:nth-child(2) {
  margin-top: 80px;
}
.cardlist .card:nth-child(5) {
  margin-top: 80px;
}


